docs/* linguist-generated=true
output/case_study.html linguist-generated=true
output/case_study_en.html linguist-generated=true
output/template.html linguist-generated=true
output/template_en.html linguist-generated=true
data/* linguist-generated=true
